@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap');


/*.text-animation h1 {
    font-family: Roboto;
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 28px;
    line-height: .75;
    margin: 10px 0;
    font-weight: bolder;
}*/

.text-animation h1 {
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 28px;
    line-height: .75;
    margin: 10px 0;
    letter-spacing: 2px;
    text-align: center;
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}
*,
*:after,
*:before {
    box-sizing: border-box;
}

.text-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-box h1 {
    font-weight: 900;
    background-color: white;
    color: #F7AD76;
    display: block;
    padding: .5em;
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 28px;
    margin: 10px 0;

    text-align: center;
}

h1:nth-child(2) {
    position: absolute;
    background-color: #fff;
    color: #0891f8;
    clip-path: inset(-1% -1% 50% -1%); // Added the negative values to prevent icky "bleed" in Chrome
}


.meet-logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


